.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-inner img {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}
.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.active.carousel-item-right,
.carousel-item-next {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.active.carousel-item-left,
.carousel-item-prev {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #575757;
  text-align: center;
  opacity: 0.5;
  font-size: 35px !important;
  width: fit-content;
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #97701d;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.carousel-control-prev {
  left: 100px;
}
.carousel-control-next {
  right: 100px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: #6b6b6b;
  background-image: linear-gradient(
    rgb(255, 255, 255, 0.8),
    rgb(255, 255, 255, 0.8)
  );
}
.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}
.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}
.carousel-indicators .active {
  background-color: #ff8800;
}
.carousel-img {
  width: 100%;
  height: 420px !important;
  border-radius: 30px !important;
  overflow: hidden;
}
.carousel-img img {
  width: 100%;
  height: 100% !important;
}
.carousel-cardtext {
  width: 100%;
  padding: 40px;
  border-radius: 30px;
  background-image: linear-gradient(
    rgb(255, 255, 255, 0.8),
    rgb(255, 255, 255, 0.8)
  );
  position: absolute;
  z-index: 100;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
}
.carousel-cardtext p {
  font-size: 16px !important;
}
.carousel-cardtext .read_more {
  text-decoration: none;
  width: fit-content;
  padding: 8px 20px;
  border-radius: 50px;
  color: #fff;
  background-color: #ff8800;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-top: 15px;
}
.fix-l-r {
  position: absolute;
  left: 30%;
  bottom: 50px;
  width: fit-content;
  display: flex;
}
.fix-l-r a {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: linear-gradient(
    rgb(255, 255, 255, 0.8),
    rgb(255, 255, 255, 0.8)
  );
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5a5a5a !important;
  font-size: 20px !important;
}
.text-show {
  color: #161616 !important;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif !important;
  width: 100%;
  font-weight: 500 !important;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-item iframe {
  width: 100% !important;
  height: 350px !important;
  border-radius: 20px !important;
}

@media (max-width: 991px) {
  .carousel-inner {
    overflow: inherit;
  }
  .carousel-cardtext h3{
    display: inline-block !important;
  }
  .carousel-cardtext {
    width: 90%;
    margin: 0 auto;
    padding: 20px !important;
    border-radius: 30px;
    background-image: linear-gradient(
      rgb(255, 255, 255, 0.8),
      rgb(255, 255, 255, 0.8)
    );
    position: absolute;
    z-index: 100;
    top: -20px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden !important;
  }
  .carousel-item .container .row .col-lg-6:first-child {
    order: 2 !important;
    height: 420px !important;
  }
  .carousel-item .container .row .col-lg-6:last-child {
    order: 1 !important;
    margin-top: 22px;
  }
  .carousel-item {
    height: 100%;
  }
  .fix-l-r {
    left: 50%;
    transform: translateX(-50%);
  }
}
