* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
  /* background-color: #fff9f3; */
  overflow-x: hidden !important;
  min-height: 100vh;
}

h1 {
  font-size: 2.4em;
  color: #252525;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Prompt", sans-serif !important;
}

h2 {
  font-size: 2.1em;
  color: #252525;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Prompt", sans-serif !important;
}
h3 {
  font-size: 1.85em;
  color: #252525;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Prompt", sans-serif !important;
}

h4 {
  font-size: 1.65em;
  color: #252525;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Prompt", sans-serif !important;
}
h5 {
  font-size: 1.45em;
  color: #252525;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Prompt", sans-serif !important;
}
p {
  font-size: 18px;
  font-weight: 500;
  color: #737373;
  font-family: "Sarabun", sans-serif;
}
p strong {
  color: #f5791f;
}
p strong em {
  color: #f5791f;
}
p strong a {
  color: #f5791f;
  text-decoration: underline;
}
p strong a:hover {
  color: #f5791f;
  opacity: 0.6;
  transition: 0.3s;
}
p a {
  text-decoration: underline;
  color: #f5791f;
}

p em {
  color: #f5791f;
}
p u {
  color: #f5791f;
}

.white {
  color: #ffffff !important;
}
.img-max {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: auto !important;
}
.txt-indent {
  text-indent: 2em;
}

/* ** */
.zoom-hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoom-hover:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* ** */

/* ****************************** */

#bread-crumbs .container {
  background-image: linear-gradient(
    to right,
    #c81c06,
    #c81c04,
    #c81c06,
    #c81c06
  );
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000;
}
.nav-breadcrumb {
  padding: 8px 8px 8px 20px;
}
.navbar-breadcrumb {
  padding: 8px 10px;
  width: 100%;
}
.breadcrumb-item a {
  font-size: 20px !important;
  font-weight: 500;
  color: #ffffff;
}
.breadcrumb-item a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: 0.5s;
}
.breadcrumb-item.active {
  color: #ece800;
  font-size: 20px !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #f1f1f1;
}
.breadcrumb {
  margin-bottom: 0 !important;
}
/* *************** */
.main-header {
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ececec;
}
.list-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.list-icon a {
  font-size: 22px;
  font-weight: 500;
  color: #3c3c3c;
  margin: 0 10px;
}
.list-icon a:last-child:hover {
  color: #f57921;
  transition: 0.3s;
}
.txt-heading {
  /* color: #252525; */
  color: #0a0a0a;
  margin: 10px 0;
  padding: 0 0 0 10px;
  border-left: 4px solid #f57921;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif !important;
}
h1.txt-heading {
  font-size: 2.2em !important;
}
h2.txt-heading small {
  font-size: 18px !important;
  color: #666666 !important;
}
.article-content {
  padding: 20px 0;
}
.p_site strong {
  font-size: 1.6em !important;
  font-weight: 500 !important;
  letter-spacing: 0px !important;
}
.p_site {
  color: #9b9b9b;
  letter-spacing: 1px !important;
  font-size: 16px;
}
.site-logo {
  text-align: center;
}
.nav-bar {
  display: block;
}
.nav-bar ul {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif !important;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
  background-image: linear-gradient(
    to right,
    #f5791f,
    #f5791f 50%,
    #3c3c3c 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.nav-bar ul li a.active {
  background-image: linear-gradient(
    to right,
    #f5791f,
    #f5791f 50%,
    #ff6d02 50%
  );
}
.nav-bar ul li a.active:before {
  background: #fff !important;
}
.nav-bar ul li a:before {
  content: "";
  background: #f5791f;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-bar ul li a:hover {
  background-position: 0;
}
.nav-bar ul li a:hover::before {
  width: 100%;
}
/* strat tabs */
.tab {
  width: 100%;
}
.tab a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  color: #e27935;
  background-color: #fef1e8;
  margin: 5px 10px 5px 0;
  border-radius: 50px;
  font-family: "Prompt", sans-serif !important;
  width: fit-content;
}
.tab a:hover {
  background-color: #f57921;
  color: #ffffff !important;
}
.cate_absolute {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  font-size: 14px !important;
  font-weight: 500;
  width: fit-content;
  padding: 3px 20px 3px 10px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #f7823c;
  text-decoration: none;
}
.cate_absolute:hover {
  background-color: #f7823c;
  color: #fff;
  transition: 0.3s;
}
/* end tabs */
.card-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.card-tab a.next-tab {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card-tab a.next-tab span {
  display: block;
  width: fit-content;
  padding: 0px 10px;
  background-color: #f37a21;
  border-radius: 50px;
  margin-left: 5px !important;
}
.card-tab a.next-tab:hover {
  background-color: #f37a21;
  padding: 3px 15px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #272727;
  color: #fff !important;

}
/* *********** */
/* *********** */
/* *********** */
/* *********** */
/* *********** */
/* *********** */
.card_podcast figure {
  width: 100%;
  height: 400px !important;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.card_podcast figure img.card__image {
  /* opacity: 0.6; */
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  position: relative;
}
.card_podcast figure .img_icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;
}
.card_podcast h4.name-podcast {
  font-size: 18px !important;
}
.card_podcast {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card_podcast:hover {
  transform: translateY(-10px);
  /* -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; */
}
.card_podcast:hover figure img.card__image {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* *********** */
/* *********** */
/* site-footer */
.site-footer {
  padding: 20px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a h4.white:hover {
  color: #f37a21 !important;
  transition: 0.3s;
}
.span_a {
  display: block;
}
.span_a a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.span_a a:hover {
  color: #555;
  transition: 0.3s;
}

.span-box {
  margin-right: 10px;
}
.span-box span {
  display: block;
  font-size: 3em;
  color: #fff;
}
/* box post */
.box-post {
  width: 100%;
  height: 100%;
  min-height: 320px !important;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  padding-bottom: 15px;
  box-shadow: 1px 1px 5px #ececec;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.box-post:hover {
  background-color: #f5791f;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 3px 3px 6px #999999;
}
.box-post:hover .new-title-post,
.box-post:hover span {
  color: #fff !important;
}
.box-post:hover:hover .news-articles-img img {
  opacity: 1 !important;
}
.box-post a {
  text-decoration: none;
}
.box-post .news-articles-img img {
  height: 200px !important;
  object-fit: cover;
  opacity: 0.9;
}

.new-title-post {
  font-size: 18px;
  font-weight: 500;
  color: #242424 !important;
  font-family: "Prompt", sans-serif !important;
}
/* box post */
/* section-video */
section.section-video {
  padding: 20px 0;
  background-color: #111828;
}
.box-youtube {
  overflow: hidden;
}
.box-youtube iframe {
  width: 400px !important;
  height: 250px !important;
  border-radius: 50px !important;
  object-fit: cover !important;
}
.title-video {
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px !important;
  line-height: 1.5;
  /* font-family: "Sarabun", sans-serif !important; */
}
a .title-video:hover {
  color: #e27935 !important;
  transition: 0.3s;
}
.card-body img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}
/* section-video */
.card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 80px 0 10px;
}
.card-flex a {
  font-size: 14px;
  text-decoration: none;
  color: #646464;
  margin-right: 8px;
}
.card-flex a img {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background-color: #9b9b9b;
}
.card-flex img {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background-color: #9b9b9b;
}
.card-flex-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}
.card-flex-new span:first-child {
  display: block;
  font-size: 14px;
  color: #646464;
  margin-right: 8px;
}
.card-flex-new span img {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: #9b9b9b;
}
.card-flex-new span.date {
  display: block;
  font-size: 12px;
  color: #646464;
}
span.date {
  display: block;
  font-size: 14px;
  color: #646464;
}
.a_cate {
  display: block;
  width: fit-content;
  padding: 3px 12px;
  border-radius: 50px;
  background-color: #f7debd;
  color: #f37a21 !important;
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
}
.a_cate:hover {
  background-color: #f37a21;
  color: #f7debd !important;
  transition: 0.3s;
}

#navbar-sticky {
  z-index: 100;
}
#navbar-sticky.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 100px !important;
}
.sticky + .content {
  padding-top: 100px !important;
}
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #ff9900;
  color: #fff;
  text-align: center;
  font-size: 24px;
  z-index: 200;
  display: none;
  border-radius: 50%;
  overflow: hidden;
  animation: boxcolor 5s infinite;
}
@keyframes boxcolor {
  10% {
    box-shadow: 0px 0px 30px #ff8400;
  }
}
.scrollup:hover {
  color: #ffffff;
  box-shadow: 0 0 10px #ff8400;
  transition: 0.3s;
}
/* ********* */
.navbarss {
  width: fit-content;
  display: inline-block;
  padding: 20px 10px;
}

.navbarss ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navbarss ul li {
  color: #666;
  float: left;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
  padding: 0 20px;
  font-size: 20px !important;
}
.navbarss ul li:hover {
  color: #f37a21;
  transition: 0.3 ease-in-out;
}

.togglesearch {
  background: #e8e8e4;
  position: absolute;
  top: 54px;
  right: 28.7%;
  width: 350px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #f37a21;
  display: none;
  overflow: hidden;
}

.togglesearch:before {
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #f37a21;
}
.togglesearch form {
  width: 100%;
  display: flex;
  align-items: center;
}
.togglesearch form input {
  width: 80%;
  padding: 0px 10px !important;
  border: 0;
  outline: none;
  font-size: 16px !important;
  font-weight: 500;
}
.togglesearch form button {
  width: 20%;
  border: 0;
  outline: none;
  background-color: #f37a21;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
.article-container-card {
  min-height: 100vh;
}
.text-bold-search {
  width: 100%;
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
  background-color: #e27935;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
}
.p-sea {
  text-align: center;
  margin: 20px 0 !important;
}
.bg-text-heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.bg-text-heading h1 {
  display: block;
  font-size: 4rem;
  color: #ffffff !important;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.post-cate a {
  text-decoration: none !important;
}
.post-cate .card_img_interview {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}
.post-cate .card_img_interview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-cate {
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #d0d0d0;
  padding-bottom: 15px;
}
.post-cate span {
  font-size: 17px !important;
}
.post-cate span img {
  width: 30px !important;
  height: 30px !important;
}
.post-cate:hover {
  background-color: #e27935;
  color: #ffffff !important;
  -webkit-transform: translateY(-15px);
  transform: translateY(-10px);
  border-bottom: 0px;
}
.post-cate:hover h4,
.post-cate:hover span {
  color: #fff !important;
}
.card-width {
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  min-height: 200px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px #999999;
  display: flex;
  align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card-width:hover{
  background-color: #e27935;
  color: #ffffff !important;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.card-width:hover h4,
.card-width:hover span {
  color: #fff !important;
}
.card-width a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.card-width figure {
  width: 50%;
  height: 150px !important;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 10px;
}
.card-width figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.f-none{
  display: flex;
  align-items: center;
}
.btn-btn-success{
  margin-top: 20px;
  width: fit-content;
  padding: 8px 35px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #e27935;
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-btn-success:hover{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .f-none{
    flex-direction: column !important;
  }
  .f-none p.h5{
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .span_a a {
    font-size: 16px !important;
  }
}
/* @media only screen and (min-width:240px) and (max-width: 768px){
  .navbarss ul li{
      float:none;
      display:block;
      text-align:center;
      margin:0 auto;
  }
} */
